#report {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .card {
    margin-top: 10px;
  }

  #report h1{
    padding-bottom: 1rem;
  }
  