<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col" *ngFor="let column of getColumns()">{{ column }}</th>
		</tr>
	</thead>
	<tbody>
		<tr scope="row" *ngFor="let item of paginatedData; index as i">
			<td *ngFor="let column of getColumns()">{{ getPropertyValue(item, column) }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<div *ngIf="paginatedData.length > 0">
	  <ngb-pagination 
		[collectionSize]="collectionSize" 
		[(page)]="page" 
		[pageSize]="pageSize"
		(pageChange)="onPageChange($event)"
		[maxSize]="5"
		[boundaryLinks]="false"
		[rotate]="false"
	  ></ngb-pagination>
	</div>
  </div>
  
